/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body{
  /* background-color: rgb(107, 193, 183);
  height: 97vh;
  width: 97vw; */
  justify-content: center;
  justify-items: center;
}


/* .submit-button{
  background-color: rgb(255, 172, 243);
  padding: 5px;
  padding-inline: 20px;
  border-radius: 10px;
  cursor: pointer;

} */

.message{
  padding: 10px;
  position: fixed;
  margin-top: 10px;

}

.smassageValue{
  font-size: 25px;
  background-color: rgba(200, 85, 50, 0.989);
  color: rgb(209, 209, 209);
  border-radius: 5px;
  padding-inline: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.not-found{
  color: red;
  font-size: 30px;
}

.submit-button {
  margin: 5px;
  font-size: 30px;
  border-radius: 30px;
  background-color: rgb(252, 178, 244);
  padding-inline: 20px;
  cursor: pointer;
  margin-left: 30px;

  background: linear-gradient(
  180deg,
  red 0%,
  blue 25%,
  green 50%,
  orange 75%,
  red 100%
);
background-size: 100% 300%;
animation: moveBorder 4s infinite linear;
}
.submit-button:hover {
  background-color: red;
}
.submit-button:active {
  background-color: aqua;
}


@keyframes moveBorder {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}