.home-main{
  width: 100%;
  max-width: 600px;
  height: auto;
  box-sizing: border-box;
}


.file, .text{
  width: 20px;
  height: 18px;
  border-radius: 2px;
  padding-top: 3px;
  cursor: pointer;
}


.slected-file{

  font-size: 20px;
}
.select-images{
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 10px;
  margin-inline: -6px;
  height: auto;
}

/* text-data */
.textarea-field{
  width: 100%;
  min-height: 400px;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 2px;
  resize: none;
  font-size: large;
}


.home-main,
.text-data {
  width: 100%;
  box-sizing: border-box;
  /* font-size: large; */
}

.isgeneratedq{
  font-size: 25px;
  color: red;
}

.details{
  /* max-width: 600px;    */
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {

}
  